.calculator .screen{
    text-align: center;
    background-color: black;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
}

.calculator .options ol li{
    text-align: center;
    padding: 15px;
    border: 1px solid black;
    background-color: cadetblue;
}

.calculator .options ol li:last-child{
    width: 100%;
}

.calculator .options ol li:hover{
    background-color: rgb(86, 86, 245);
}

.calculator .options ol{
    list-style: none;
}

.float-left{
    float: left;
}

.clearfix::after, .clearfix::before {
    content: "";
    clear: both;
    display: table;
}